{namespace ts=Neos\Fusion\ViewHelpers}
<div class="column ttree-neos-tone-contentcollection-container">
	<header><b>Tone Analyzer</b> <small>for {node.name}</small></header>
	<div class="ttree-neos-tone-row">
		<div class="ttree-neos-tone-content">
			{columnContent -> f:format.raw()}
		</div>
		<div class="ttree-neos-tone-report">
			<f:if condition="{analysis}">
				<f:then>
					{emotion -> f:format.raw()}
					{languageStyleSummary -> f:format.raw()}
					{socialSummary -> f:format.raw()}
				</f:then>
				<f:else>
					<p>
						<b>Unable to analzse this content</b><br>
						maybe a communication problem with the API or no content provided
					</p>
				</f:else>
			</f:if>
		</div>
	</div>
</div>
