.ttree-neos-tone-summaryview__container {

}

.ttree-neos-tone-summaryview__summary {
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
}

.ttree-neos-tone-columnview-header {
    padding-bottom: .5em !important;
    margin-bottom: .5em !important;
    font-size: 15px;
    font-weight: bold;
}

.ttree-neos-tone-columnview-hero {
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
    border-bottom: 1px dotted #3f3f3f;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
}

.ttree-neos-tone-columnview-hero__label {
    float: left;
}

.ttree-neos-tone-columnview-hero__value {
    font-weight: bold;
    float: right;
}

.ttree-neos-tone-columnview-column {
    margin-bottom: .8em !important;
}

.ttree-neos-tone-columnview-column__label {
    font-weight: bold;
}

.ttree-neos-tone-columnview-column__value {
    font-weight: normal;
    font-size: 80%;
    float: right;
}

.ttree-neos-tone-columnview-column__bar {
    margin-top: .4em !important;
    height: 8px;
    width: 100%;
    background-color: #3f3f3f;
    overflow: hidden;
}

.ttree-neos-tone-columnview-column__cursor {
    height: 8px;
    background-color: #CCC;
}

.ttree-neos-tone-columnview-column__cursor--high {
    background-color: #00ab34;
}

.ttree-neos-tone-columnview-column__cursor--medium {
    background-color: #007404;
}

.ttree-neos-tone-columnview-column__cursor--low {
    background-color: #005204;
}
