@charset "UTF-8";
/* Color palette */
/* Sizes & margins */
/* Components */
/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.1
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
    font-family: "Ampersand";
    src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
    unicode-range: U+0026;
}
@font-face {
    font-family: "Ampersand";
    src: local("Georgia");
    unicode-range: U+270C;
}
body {
    word-wrap: break-word;
}

pre code {
    word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
    font: normal 112.5%/1.65 Arial, serif;
}

body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    color: #444;
}

small {
    font-size: 65%;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
}

.tera {
    font-size: 117px;
    font-size: 6.5rem;
    margin-bottom: 0.25385rem;
}

.giga {
    font-size: 90px;
    font-size: 5rem;
    margin-bottom: 0.33rem;
}

.mega {
    font-size: 72px;
    font-size: 4rem;
    margin-bottom: 0.4125rem;
}

.alpha, h1 {
    font-size: 60px;
    font-size: 3.33333rem;
    margin-bottom: 0.495rem;
}

.beta, h2 {
    font-size: 48px;
    font-size: 2.66667rem;
    margin-bottom: 0.61875rem;
}

.gamma, h3 {
    font-size: 36px;
    font-size: 2rem;
    margin-bottom: 0.825rem;
}

.delta, h4 {
    font-size: 24px;
    font-size: 1.33333rem;
    margin-bottom: 1.2375rem;
}

.epsilon, h5 {
    font-size: 21px;
    font-size: 1.16667rem;
    margin-bottom: 1.41429rem;
}

.zeta, h6 {
    font-size: 18px;
    font-size: 1rem;
    margin-bottom: 1.65rem;
}

p {
    margin: auto auto 1.5em;
}
p + p {
    text-indent: 0;
    margin-top: 1.5em;
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}

pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

pre {
    white-space: pre;
}

code {
    white-space: pre;
    font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
    font-variant: small-caps;
    font-weight: 600;
    text-transform: lowercase;
    color: gray;
}
abbr[title]:hover {
    cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

p + .drop-cap {
    text-indent: 0;
    margin-top: 0;
}

.drop-cap:first-letter {
    float: left;
    margin: inherit;
    padding: inherit;
    font-size: 4em;
    font-family: inherit;
    line-height: 1;
    text-indent: 0;
    background: transparent;
    color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
    display: inline;
    margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
    content: "\A";
    white-space: pre;
}
.lining dd + dd:before {
    content: ", ";
}
.lining dd:before {
    content: ": ";
    margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
    display: inline;
    counter-reset: definitions;
}
.dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem;
}
.dictionary-style dd {
    display: block;
    counter-increment: definitions;
}
.dictionary-style dd:before {
    content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
    position: relative;
    padding: 1em;
}
.pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e;
}
.pull-quote:before {
    content: '“';
    top: 0;
    left: 0;
}
.pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
body {
    margin: 0;
    background-color: #959595;
}

#ttree-neos-tone-container {
    padding: 1px 4%;
}

.ttree-neos-tone-contentcollections {
    margin: 0 auto;
}

.ttree-neos-tone-row {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}
.ttree-neos-tone-content,
.ttree-neos-tone-report {
    padding: 1em;
}
.ttree-neos-tone-content {
    flex-grow: 1;
}
.ttree-neos-tone-report {
    flex: 0 0 30%;
    min-width: 300px;
    background-color: #dedede;
}

.base--p, .base--STYLED p {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 0;
    margin-bottom: 8px;
}

.base--p {
    margin-top: 9px;
}

/**
 * Bar Graph
 */
.bar-graph {
    display: block;
    width: 100%; }
.bar-graph--row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: flex-start;
    -ms-flex-flow: flex-start;
    flex-flow: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
.bar-graph--label-container {
    display: inline-block;
    width: 8rem;
    margin-right: 0.5rem;
    vertical-align: middle; }
.bar-graph--bar-container {
    display: inline-block;
    width: calc(100% - 4rem);
    vertical-align: middle;
    margin-top: 0rem; }
.bar-graph--label {
    font-size: 0.8rem;
    text-align: right;
    position: relative; }
.bar-graph--bar {
    height: 1.25rem;
    background-color: #e0e0e0;
    position: relative; }
.bar-graph--bar-value {
    height: 100%;
    width: 0%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #075CD8; }
.bar-graph--threshold {
    position: absolute;
    top: -40%;
    left: 0%;
    height: 180%;
    width: 1px;
    margin-top: 0rem;
    background-color: #aeaeae; }
.bar-graph--tooltip {
    position: absolute;
    background-color: #325c80;
    padding: 1rem;
    width: 20rem;
    left: -10rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.5rem);
    margin-top: 0rem; }
.bar-graph--tooltip:after {
    content: '';
    position: absolute;
    left: 9rem;
    border: 1rem solid transparent;
    top: 100%;
    border-top-color: #325c80; }
.bar-graph--tooltip .base--a {
    color: white; }
.bar-graph--tooltip .base--a:hover {
    color: #e0e0e0; }
.bar-graph--bar-tooltip {
    position: absolute;
    background-color: #325c80;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    text-align: center;
    margin-top: 0rem;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.bar-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #325c80; }
.bar-graph--bar-tooltip .base--a {
    color: white; }
.bar-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.bar-graph--bar:hover .bar-graph--bar-tooltip {
    visibility: visible;
    opacity: 1; }
.bar-graph--bar:hover .bar-graph--bar-tooltip:hover {
    visibility: hidden;
    opacity: 0; }
.bar-graph--tooltip br {
    margin-top: 0rem; }

/**
 * Summary Writing
 */
.summary-writing-graph {
    height: calc(100% - 2.5rem); }
@media (min-width: 768px) {
    .summary-writing-graph {
        height: calc(100% - 3.5rem); } }
@media (min-width: 1200px) {
    .summary-writing-graph {
        height: calc(100% - 2.5rem); } }
.summary-writing-graph--column {
    width: calc(33.33333% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    margin-top: 0rem;
    height: 100%; }
.summary-writing-graph--column:nth-of-type(3n) {
    margin-right: 0rem; }
.summary-writing-graph--bar {
    width: 1.25rem;
    height: calc(100% - 1.6rem);
    margin: auto;
    background-color: #e0e0e0;
    position: relative; }
.summary-writing-graph--bar-value {
    background-color: #075CD8;
    position: absolute;
    bottom: 0rem;
    width: 100%; }
.summary-writing-graph--label {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.4rem; }
.summary-writing-graph--bar-tooltip {
    position: absolute;
    background-color: #075CD8;
    padding: 1rem;
    width: 5.5rem;
    left: -2.125rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    text-align: center;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.summary-writing-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #075CD8; }
.summary-writing-graph--bar-tooltip .base--a {
    color: white; }
.summary-writing-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-writing-graph--bar-tooltip:after {
    border-bottom: 0rem; }
.summary-writing-graph--bar:hover .summary-writing-graph--bar-tooltip {
    visibility: visible;
    opacity: 1; }
.summary-writing-graph--bar:hover .summary-writing-graph--bar-tooltip:hover {
    visibility: hidden;
    opacity: 0; }

.summary-social-graph {
    display: block;
    width: 100%; }
.summary-social-graph--row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: flex-start;
    -ms-flex-flow: flex-start;
    flex-flow: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
.summary-social-graph--label-container {
    display: inline-block;
    width: 8rem;
    margin-right: 0.5rem;
    vertical-align: middle; }
.summary-social-graph--bar-container {
    display: inline-block;
    width: calc(100% - 8.5rem);
    vertical-align: middle;
    margin-top: 0rem; }
.summary-social-graph--label {
    font-size: 0.8rem;
    text-align: right;
    position: relative; }
.summary-social-graph--bar {
    height: 1.25rem;
    background-color: #e0e0e0;
    position: relative; }
.summary-social-graph--bar-value {
    height: 100%;
    width: 0%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #075CD8; }
.summary-social-graph--threshold {
    position: absolute;
    top: -40%;
    left: 0%;
    height: 180%;
    width: 1px;
    margin-top: 0rem;
    background-color: #aeaeae; }
.summary-social-graph--tooltip {
    position: absolute;
    background-color: #325c80;
    padding: 1rem;
    width: 20rem;
    left: -10rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.5rem);
    margin-top: 0rem; }
.summary-social-graph--tooltip:after {
    content: '';
    position: absolute;
    left: 9rem;
    border: 1rem solid transparent;
    top: 100%;
    border-top-color: #325c80; }
.summary-social-graph--tooltip .base--a {
    color: white; }
.summary-social-graph--tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-social-graph--bar-tooltip {
    position: absolute;
    background-color: #325c80;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    text-align: center;
    margin-top: 0rem;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.summary-social-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #325c80; }
.summary-social-graph--bar-tooltip .base--a {
    color: white; }
.summary-social-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.bar-graph--bar:hover .summary-social-graph--bar-tooltip {
    visibility: visible;
    opacity: 1; }
.bar-graph--bar:hover .summary-social-graph--bar-tooltip:hover {
    visibility: hidden;
    opacity: 0; }
.summary-social-graph--tooltip br {
    margin-top: 0rem; }
.summary-social-graph--bar-value {
    background-color: #1AE5CD; }
.summary-social-graph--bar-tooltip {
    position: absolute;
    background-color: #17ceb9;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: white; }
.summary-social-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #17ceb9; }
.summary-social-graph--bar-tooltip .base--a {
    color: white; }
.summary-social-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-social-graph--label-container .bar-graph--tooltip {
    position: absolute;
    background-color: #17ceb9;
    padding: 1rem;
    width: 20rem;
    left: -5rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.5rem);
    text-align: left;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.summary-social-graph--label-container .bar-graph--tooltip:after {
    content: '';
    position: absolute;
    left: 9rem;
    border: 1rem solid transparent;
    top: 100%;
    border-top-color: #17ceb9; }
.summary-social-graph--label-container .bar-graph--tooltip .base--a {
    color: white; }
.summary-social-graph--label-container .bar-graph--tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-social-graph--label-container .bar-graph--tooltip:after {
    border-bottom: 0rem; }
.summary-social-graph--label-container:hover .bar-graph--tooltip {
    visibility: visible;
    opacity: 1; }
.summary-social-graph--label-container:hover .bar-graph--tooltip:hover {
    visibility: hidden;
    opacity: 0; }

/**
 * Summary Writing
 */
.summary--writing {
    margin-bottom: 2em;
    background-color: #f9f9f9;
    padding: 1rem;
    height: 16.5rem; }

.summary--social {
    margin-bottom: 2em;
    background-color: #f9f9f9;
    padding: 1rem;
    height: 16.5rem; }

.summary--emotion {
    margin-bottom: 2em;
    background-color: #f9f9f9;
    padding: 1rem;
    height: 16.5rem; }

/**
 * Summary Emotion Graph
 */
.summary-emotion-graph {
    position: relative; }
.summary-emotion-graph--bar-value {
    background-color: #1AE5CD; }
.summary-emotion-graph--bar-value_Anger {
    background-color: #E80521; }
.summary-emotion-graph--bar-value_Disgust {
    background-color: #592684; }
.summary-emotion-graph--bar-value_Fear {
    background-color: #325E2B; }
.summary-emotion-graph--bar-value_Joy {
    background-color: #FFD629; }
.summary-emotion-graph--bar-value_Sadness {
    background-color: #086DB2; }
.summary-emotion-graph--bar-tooltip_Anger {
    position: absolute;
    background-color: #E80521;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Anger:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #E80521; }
.summary-emotion-graph--bar-tooltip_Anger .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Anger .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Disgust {
    position: absolute;
    background-color: #592684;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Disgust:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #592684; }
.summary-emotion-graph--bar-tooltip_Disgust .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Disgust .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Fear {
    position: absolute;
    background-color: #325E2B;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Fear:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #325E2B; }
.summary-emotion-graph--bar-tooltip_Fear .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Fear .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Joy {
    position: absolute;
    background-color: #FFD629;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #000000; }
.summary-emotion-graph--bar-tooltip_Joy:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #FFD629; }
.summary-emotion-graph--bar-tooltip_Joy .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Joy .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Sadness {
    position: absolute;
    background-color: #086DB2;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Sadness:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #086DB2; }
.summary-emotion-graph--bar-tooltip_Sadness .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Sadness .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--legend-label-container {
    position: absolute;
    top: 100%;
    right: 0rem;
    width: calc(100% - 4rem); }
.summary-emotion-graph--legend-label {
    position: absolute;
    margin-right: 0rem;
    display: block;
    float: left;
    margin-top: 0rem;
    text-align: center;
    font-size: 0.8rem; }
.summary-emotion-graph--legend-label_medium {
    left: 50%;
    margin-left: -1.4rem; }
.summary-emotion-graph--legend-label_high {
    left: 75%;
    margin-left: -0.7rem; }
.summary-emotion-graph--legend-label:nth-of-type(3n) {
    margin-right: 0rem; }

img {
    max-width: 100%;
    height: auto;
}

.ttree-neos-tone-contentcollection-container {
    background-color: whitesmoke;
    padding: 1em;
}

.ttree-neos-tone-contentcollection-container > header {
    font-size: 160%;
    color: #5b5b5b;
    text-transform: uppercase;
    margin: 60px 0 20px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #007fb2;
}

.typo3-image-alignment-right {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.typo3-image-alignment-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.ttree-neos-tone-hidden {
    display: none;
}

ol.neos-list-decimal {
    list-style-type: decimal;
}
ol.neos-list-decimal-leading-zero {
    list-style-type: decimal-leading-zero;
}
ol.neos-list-lower-roman {
    list-style-type: lower-roman;
}
ol.neos-list-upper-roman {
    list-style-type: upper-roman;
}
ol.neos-list-lower-greek {
    list-style-type: lower-greek;
}
ol.neos-list-lower-latin {
    list-style-type: lower-latin;
}
ol.neos-list-upper-latin {
    list-style-type: upper-latin;
}

ul.neos-list-disc {
    list-style-type: disc;
}
ul.neos-list-circle {
    list-style-type: circle;
}
ul.neos-list-square {
    list-style-type: square;
}
